header {
    position: sticky;
    width: 100%;
    height: 10vh;
    min-height: 180px;
    top: 0;
    z-index: 999;
}

.header_top {
    width: 100%;
    max-height: 56px;
    height: 30%;
    background-color: var(--black);
    justify-content: space-between;
    padding: 0 90px;
}

.menu {
    width: 9%;
    height: 70%;
    background-color: transparent;
    justify-content: space-between;
}

.menu_box {
    width: 40%;
    height: 100%;
    border: 2px solid var(--lightGray);
    flex-direction: column;
}

.first_line {
    transform: translateX(-5px) translateY(1px);
}

.second_line {
    transform: rotate(180deg) translateX(-5px) translateY(1px);
}

.menu_text {
    font-size: 25px;
    font-weight: 500;
    color: var(--white);
}

.login {
    width: 10%;
    height: 70%;
    background-color: var(--green);
    border-radius: 10px;
    justify-content: space-evenly;
    transition: 0.5s;
    border: none;
    cursor: pointer;
}

.login:hover {
    background-color: var(--green_hover);
}

.user_logo {
    height: 100%;
}

.login_text {
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
}

.login_box {
    position: fixed;
    width: 50%;
    height: 30%;
    min-height: 350px;
    border-radius: 20px;
    top: 40%;
    display: none;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, .4);
    border-right: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 5px 45px rgb(0 0 0 / 10%);
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 100px;
    z-index: 999;
}

#close {
    position: absolute;
    width: 45px;
    cursor: pointer;
    top: 15px;
    right: 15px;
}

.dot {
    position: absolute;
    width: 30px;
    bottom: 15px;
}

.lock {
    width: 30px;
}

.first_text, .second_text {
    cursor: pointer;
    text-decoration: none;
}

.first_text, .second_text:hover {
    text-decoration: none !important;
}

.first_text h3, .second_text h3 {
    font-size: 35px;
    font-weight: 500;
    color: var(--darkGreen);
    margin-right: 15px;
}

.login_box hr {
    width: 25%;
    height: 4px;
    background-color: var(--gray);
    border: none;
}

.header_bottom {
    width: 100%;
    max-height: 127px;
    height: 100%;
    background-color: var(--darkGreen);
    justify-content: space-between;
}

.left_dot {
    width: 8%;
    min-width: 100px;
    height: 100%;
    justify-content: flex-start;
    background-color: transparent;
}

.main_header {
    width: 80%;
    height: 60%;
    justify-content: space-evenly;
}

.logo_ggps_a{
    position: relative;
    max-height: 115px;
}

.logo_ggps {
    position: relative;
    max-height: 115px;
}

.ggps_text {
    position: relative;
    height: 80%;
    width: 75%;
    flex-direction: column;
    align-self: flex-end;
}

.ggps_name {
    width: 100%;
    height: 30%;
    align-items: flex-end;
}

.ggps_name_text {
    font-size: 45px;
    font-weight: 500;
    color: var(--white);
}

.ggps_address {
    width: 100%;
    height: 20%;
    align-items: flex-start;
}

.ggps_address_text {
    font-size: 22px;
    font-weight: 500;
    color: var(--white);
}

.right_dot {
    width: 8%;
    min-width: 100px;
    height: 100%;
    justify-content: flex-end;
    background-color: transparent;
}
