body {
    width: 100vw;
    min-height: 100vh;
    flex-wrap: wrap;
    background: var(--white);
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

a{
    color: var(--white);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
