body {
    width: 100vw;
    min-height: 100vh;
    flex-wrap: wrap;
    background: white;
    font-family: 'Poppins', sans-serif;
}


main {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: gray;
}
